@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Gideon+Roman&family=Short+Stack&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: seagreen;
}
body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: tan;
}
nav a {
    text-align:center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: tomato;
    color: blue;
    text-decoration: underline;
}
.book, .join {
    background-color: gold;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: lightblue;
    color: blueviolet;
    text-decoration: underline;
}
.msg {
    background-color: wheat;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: wheat;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color:forestgreen;
    font-family: 'Short Stack', 'Dosis', Georgia;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:blue;
    font-family: 'Short Stack', serif, sans-serif;
}
.msg h2 {
    color: seagreen;
    font-family: 'Short Stack', serif, sans-serif;
}
.msg p {
    color:royalblue;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color:slateblue;
}
footer a {
    color:mediumblue;
    text-decoration: none;
}
footer a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}